{% comment %}----------------------------- Main-collection-product-grid Line No. -> 160 -----------------------{% endcomment %}

<div class="Image-main">
  <div class="imagediv">
    <img src="https://cdn.shopify.com/s/files/1/0775/6755/7938/files/rack-of-womens-clothing.jpg?v=1689088370" style="width:100%;height:20%;" />
<!-- <p>SAM</p> -->
  </div>
</div>
<style>
/*   .Image-main{
    width:40%;
  }
  .imagediv{
    width:100%;
  } */
</style>