<div class="main_iplanet8">
  <div class="content_iplanet8">
    <div class="need_help_iplanet8">
      <h2>Need help in choosing the right product?</h2>
      <span>{% render "icon-phone" %}&nbsp;<a href="">ASK FOR HELP</a></span>
    </div>
    <div class="iplanet_enterprises_iplanet8">
      <p>iPlanet Enterprise can cater to any of your apple product requirements for your business. </p>
      <p>Checkout out Surprising Offers on Apple Products. only at iPlanet. Morethan 100 Apple Experts to assists your requirements!</p>
    </div>
  </div>
</div>

<style>
  .content_iplanet8{
    padding:5% 10%;
    display:flex;
    color:#000000;
    background:#f8f8f8;
  }
  .need_help_iplanet8{
    width:33.33%;
  }
  .need_help_iplanet8 h2{
    font-size:35px;
    text-align:left;
    color:#000000;
  }
  .need_help_iplanet8 a{
    text-decoration:none;
    font-size:13px;
    color:#38b6ff;
    font-weight:700;
  }
  .need_help_iplanet8 a:hover{
    color:#000000;
  }
  .need_help_iplanet8 svg{
    width:10px;
    height:10px;
  }
  .need_help_iplanet8 svg path{
    fill:#38b6ff;
    color:#38b6ff;
    border-color:#38b6ff;
  }
  .need_help_iplanet8 svg path:hover{
    fill:#000000;
    color:#000000;
    border-color:#000000;
  }
  .iplanet_enterprises_iplanet8{
    padding:0 50px;
  }
  .iplanet_enterprises_iplanet8 p{
    font-size:17px;
    font-weight:400;
    color:#3E3E45;
  }
  @media (max-width: 749px){
    .content_iplanet8{
      flex-direction:column;
      padding:64px 24px 24px 24px;
    }
    .need_help_iplanet8{
      width:100%;
      font-size:26px;
    }
    .need_help_iplanet8 h2{
      font-size:20px;
    }
    .iplanet_enterprises_iplanet8{
      padding:0;
    }
  }
@media (max-width: 1024px){
  .content_iplanet8{
    padding:5% 5%;
  }
  .need_help_iplanet8{
    width:100%;
  }
  .need_help_iplanet8 h2{
    font-size:25px;
  }
}
</style>