<div class="main_iplanet5">
  <div class="dash_iplanet5"></div>
  <div class="why_iplanet5">
    <h2>Why iPlanet Enterprise?</h2>
    <p>Our strong partnership with Apple has given us the best opportunities to support our Enterprise customers as we are able to provide tailor-made business IT solutions at competitive prices, as well as mobilising large supplies of all Apple products.</p>
  </div>
  <div class="section_iplanet5">
    <section class="first_section">
      <div class="apple_first">
        <div class="icon_apple">
          <span>{% render "icon-user_tie" %}</span>
        </div>
        <div class="text_apple">
          <h3>Apple Business Manager</h3>
          <p>Apple mobile device management solutions enable IT admins to remotely enrol and deploy Apple devices in bulk, as well as manage them, enforce security configurations on them, and distribute applications and content to them.</p>
        </div>
      </div>
      <div class="financing_first">
        <div class="icon_financing">
          <span>{% render "icon-Indian_rupee" %}</span>
        </div>
        <div class="text_financing">
          <h3>Financing & Leasing</h3>
          <p>With a range of financing options flexible to meet your budget cycle, we make digital transformation goals a reality. Apple Financial Services keeps your costs low by accounting for the high residual value of Apple devices up front.</p>
        </div>
      </div>
      <div class="training_first">
        <div class="icon_training">
          <span>{% render "icon-chalkboard_teacher" %}</span>
        </div>
        <div class="text_training">
          <h3>Training</h3>
          <p>Our Apple Certified trainers provide customised training for end users to be more creative, productive & collaborative with their Apple products. Additionally, we also train in house IT teams on leaning to manage multiple devices from their end with ease & simplicity.</p>
        </div>
      </div>
    </section>
    <section class="second_section">
      <div class="trade_second">
        <div class="icon_trade">
          <span>{% render "icon-handshake" %}</span>
        </div>
        <div class="text_trade">
          <h3>Trade-in</h3>
          <p>Nothing is useless, be it old or unused, everything has value. Enterprise customers can trade in all of their old Windows or Mac machines at great prices along with availing a special exchange bonus.</p>
        </div>
      </div>
      <div class="warehousing_second">
        <div class="icon_warehousing">
          <span>{% render "icon-warehouse" %}</span>
        </div>
        <div class="text_warehousing">
          <h3>Warehousing & Logistics</h3>
          <p>Buckled up with world class delivery partners to get the right product at the right time, at the right place. Our Enterprise customers entrust us with their loaner machines, which we hold in our secure warehouses and then ship on demand.</p>
        </div>
      </div>
      <div class="service_second">
        <div class="icon_service">
          <span>{% render "icon-tools" %}</span>
        </div>
        <div class="text_service">
          <h3>Service Support</h3>
          <p>We provide a seamless system of service & support in terms of arranging the reverse logistics of picking up the faulty equipment & bringing it to our service centre for repairs.</p>
        </div>
      </div>
    </section>
    <section class="third_section">
      <div class="certified_third">
        <div class="icon_certified">
          <span>{% render "icon-certificate" %}</span>
        </div>
        <div class="text_certified">
          <h3>Certified Engineers</h3>
          <p>Our team is a complete package of service engineers with ACMT, ACIT and Mac trainers, who are at your service whenever you think of them.</p>
        </div>
      </div>
      <div class="certified_infrastructure_third">
        <div class="icon_certified_infrastructure">
          <span>{%  render "icon-building" %}</span>
        </div>
        <div class="text_certified_infrastructure">
          <h3>Certified Infrastructure</h3>
          <p>Our service locations are equipped with top notch Apple standard testing tools, processes and spares, ensuring a safe and secure environment to repair your Apple devices</p>
        </div>
      </div>
      <div class="management_third">
        <div class="icon_management">
          <span>{% render "icon-telegram_plane" %}</span>
        </div>
        <div class="text_management">
          <h3>Management & Deployment</h3>
          <p>Quickly scale your business with easy deployment and remote management. jamf is a Mobile Device Management solution that remotely connects, manages and protects Apple users, devices and services.</p>
        </div>
      </div>
    </section>
  </div>
</div>

<style>
  .main_iplanet5{
    padding:10%;
    background:#ffffff;
  }
  .why_iplanet5 h2::before{
    content:"";
    position:absolute;
    top:-50px;
    border:2px solid #38b6ff;
    width:7%;
    border-radius:5px;
  }
  .dash_iplanet5{
    background-color:cyan;
    height:5px;
    width:20%;
  }
  .why_iplanet5 h2{
    color:#000000;
    font-size:40px;
    position:relative;
  }
  .why_iplanet5 p{
    font-size:15px;
  }
  .section_iplanet5{
    margin-top:5%;
  }
  .section_iplanet5 span{
    padding:0 10px;
  }
  .section_iplanet5 svg{
    width:30px;
    height:30px;
    margin-top:20px;
  }
  .section_iplanet5 svg path{
    fill:#38b6ff;
    color:#38b6ff;
    border-color:#38b6ff;
  }
  .first_section, .apple_first, .financing_first, .training_first{
    display:flex;
  }
  .apple_first, .financing_first, .training_first{
    width:33%;
  }
  .second_section, .trade_second, .warehousing_second, .service_second{
    display:flex;
  }
  .trade_second, .warehousing_second, .service_second{
    width:33%;
  }
  .third_section, .certified_third, .certified_infrastructure_third, .management_third{
    display:flex;
  }
  .certified_third, .certified_infrastructure_third, .management_third{
    width:33%;
  }
 @media screen and (max-width: 750px){
   .main_iplanet5{
     padding:10% 10px;
   }
   .why_iplanet5 h2::before{
     top:-25px;
     width:40px;
   }
   .why_iplanet5 h2{
     font-size:26px;
   }
   .why_iplanet5 p, .section_iplanet5 p{
     font-size:17px;
   }
    .first_section, .apple_first, .financing_first, .training_first{
      flex-direction:column;
      width:100%;
      text-align:center;
    }
   .trade_second, .warehousing_second, .service_second{
     width:100%;
     flex-direction:column;
     text-align:center;
   }
  .certified_third, .certified_infrastructure_third, .management_third{
    width:100%;
    flex-direction:column;
    text-align:center;
  }
   .first_section, .second_section, .third_section{
     flex-direction:column;
   }
   .third_section, .certified_third, .certified_infrastructure_third, .management_third{
     flex-direction:column;
   }
}
@media (max-width: 1024px){
  .main_iplanet5{
    padding:2%;
  }
  .section_iplanet5 p{
    font-size:16px;
  }
}  
</style>