<section class="tab_section">
  <div class="tab_price">
    <button type="button" > Price </button>
    <button type="button" > Title </button> 
  </div>
  <div class="cstm_Tab_Contents">
    <p id="data1" class="product_data">{{ product.price | money_with_currency }}</p>
    <p id="data2" class="product_data">{{product.title}}</p>
  </div>
</section>

<style>
  .tab_section
  {
    padding: 20px 0px 12px 0px;
  }
  .tab_price{
    padding-right: 10px;
    display: contents;
  }
  .tab2{
    padding-left: 10px;
    width: 20%;
  }
  .tab2 button{
    width: 100%;
    font-size: 20px;
  }
  .product_data, .metadata{
    display:none;
  }
</style>

<script>
  // var btn = document.querySelectorAll(".tab_price button");
  // var content = document.querySelectorAll(".product_data");
  // btn.forEach((item) => {
  //   item.addEventListener("click", () => {
  //     console.log("multiple ---> ",btn);
  //     content.forEach((ele, index) => {
  //       ele.style.display = "none";
  //     });
  //     content[index].style.display = "block";
  //   });
  // });
  var btn = document.querySelectorAll(".tab_price button");
  var content = document.querySelectorAll(".product_data");

  for (let i = 0; i < btn.length; i++) {
    btn[i].addEventListener("click", function () {
      for (let j = 0; j < content.length; j++) {
        content[j].style.display = "none";
      }
      content[i].style.display = "block";
    });
  }

</script>