<section class="tab_section">
    <div class="tab_price">
      <button type="button" > Price </button>
      <button type="button" > Title </button> 
      <button type="button" > Meta </button>
    </div>
    <div class="cstm_Tab_Contents">
        <p id="data1" class="product_data">{{ product.price | money_with_currency }}</p>
        <p id="data2" class="product_data">{{product.title}}</p>
        <!-- <img id="meta1" class="metadata" src="{{  product.metafields.custom.image_metafield | img_url: "300x" }}"/> -->
      </div>
</section>

<style>
  .tab_section
  {
    padding: 20px 0px 12px 0px;
  }
  .tab_price{
    padding-right: 10px;
    display: contents;
  }
  .tab2{
    padding-left: 10px;
    width: 20%;
  }
  .tab2 button{
    width: 100%;
    font-size: 20px;
  }
  .product_data, .metadata{
    display:none;
  }
</style>

<script>
  var btn = document.querySelectorAll(".tab_price button");
  btn.forEach((item) => {
    item.addEventListener("click",)
  })
</script>