<div class="product_igp">
  <div class="content_igp">
    <div class="country_div">
      <input class="input1" type="text" placeholder="INDIA" >
    </div>
    <div class="pincode_div">
      <input class="input2" type="text" maxlength="7" placeholder="Pincode" >
    </div>
    <div class="check_btn_div">
      <button class="check_btn" onclick="validate()">Check</button>
    </div>
    <div class="valid_message_div">
      <span class="message"></span>
    </div>
  </div>
</div>

<style>
  .content_igp{
    display: flex;
    align-items:center;
    padding:3px;
    border:1px solid #000;
  }
  .country_div, .pincode_div, .check_btn_div{
    width:33.33%;
  }
  .valid_message_div{
    width:12%;
  }
  .input1, .input2{
    border: none;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
    outline:0;
  }
  .input1{
    background:#454e573b;
  }
  .input2{
    margin:0 10px;
  }
  .ckech_btn_div{
    text-align:center;
  }
  .check_btn{
    font-size: 15px;
    padding: 5px 15px;
  }
</style>

<script>
var pin = `{{ code }}`;
var store_pin = pin.split(",");
console.log("pin", store_pin);

function validate() {
  var isAvailable = true;
  var input = document.querySelector(".input2").value;
  for (var i = 0; i < store_pin.length; i++) {
    if (input === store_pin[i].trim()) {
      document.querySelector(".message").innerHTML = "Available";
      break;
    }
    else{
      document.querySelector(".message").innerHTML = "Invalid";
    }
  }
}
</script>