<div class="product_igp">
  <div class="content_igp">
    <div class="country_div">
      <input class="input1" type="text" placeholder="INDIA" >
    </div>
    <div class="pincode_div">
      <input class="input2" type="text" placeholder="Pincode" >
    </div>
    <div class="check_btn_div">
      <button class="check_btn">Check</button>
    </div>
  </div>
</div>

<style>
  .content_igp{
    display: flex;
    justify-content: center;
    align-item:center;
  }
  .country_div, .pincode_div, .check_btn_div{
    width:25%;
  }
  .input1, .input2{
    border: none;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
  }
  .input1{
    background:#454e573b;
  }
  .input2{
    margin:0 10px;
  }
  .check_btn{
    font-size: 15px;
    padding: 5px 15px;
  }
</style>