<div class="product_igp">
  <div class="content_igp">
    <div class="country_div">
      <input class="input1" type="text" placeholder="INDIA" >
    </div>
    <div class="pincode_div">
      <input class="input2" type="text" placeholder="Pincode" >
    </div>
    <div class="check_btn_div">
      <button class="check_btn">Check</button>
    </div>
  </div>
</div>

<style>
  .content_igp{
    display: flex;
    align-items:center;
    padding:3px;
    border:1px solid #000;
  }
  .country_div, .pincode_div, .check_btn_div{
    width:33.33%;
  }
  .input1, .input2{
    border: none;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
    outline:0;
  }
  .input1{
    background:#454e573b;
  }
  .input2{
    margin:0 10px;
  }
  .ckech_btn_div{
    text-align:center;
  }
  .check_btn{
    font-size: 15px;
    padding: 5px 15px;
  }
</style>

<script>
  var pin = `{{ section.settings.pincode_igp.json }}`;
  console.log("pin", pin);
</script>