<div class="slider_range">
  <input type="range" min="20" max="100" value="0" step="20" id="range">
  <div class="ul_range">
    <ul>
      <li id="1">Fancy</li>
      <li id="2">Good</li>
      <li id="3">Very Good</li>
      <li id="4">Excellent</li>
      <li id="5">Ideal</li>
    </ul>
  </div>
  <p>Value: <span id="val"></span></p>
</div>

<style>
  .slider_range{
    margin:auto;
  }
  .slider_range ul{
    display:flex;
    width:100%;
    margin-top:0;
    padding:0;
  }
  .slider_range ul li{
    list-style:none;
    position:absolute;
  }
  .slider_range input{
    /* -webkit-apperance:none; */
    width:80%;
    height:25px;
    margin:0 15px;
  }
  li#\31{
    left:0%;
  }
  li#\32{
    left:20%;
  }
  li#\33{
    left:40%;
  }
  li#\34{
    left:60%;
  }
  li#\35{
    left:80%;
  }
</style>

<script>
  var slider = document.getElementById("range");
  var val = document.getElementById("val");
  val.innerHTML = slider.value;

  slider.oninput = function() {
    val.innerHTML = this.value;
  }
</script>