<div class="brand_main">
  {% for block in section.blocks %}
  <div class="header_nav_brand">
    <div class="brand_logo">
      {{ block.settings.brand_logo | image_url:'master' }}
    </div>
    <ul class="nav_menu_list">
    {% for link in block.settings.header_menu.links %}
      {% if link.url != blank %} <a href="{{ link.url }}"><li>{{ link.title }}</li></a> {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "brand_utm",
    "settings": [],
    "blocks": [{
      "type":"image_picker",
      "name":"Choose Brand",
      "settings": [{
        "type": "image_picker",
        "id":"brand_logo",
        "label":"Brand Logo"
      },
      {
        "type":"link_list",
        "id":"header_menu",
        "label":"Header Menu List"
      },
      {
        "type":"html",
        "id":"cart_icon",
        "label": "Cart"
      },
      {
        "type":"html",
        "id":"human_icon",
        "label":"Login/Register"
      },
      {
        "type":"html",
        "id":"track_icon",
        "label":"Track icon"
      }]
    }],
    "presets": [{"name":"brand_utm"}]
  }
{% endschema %}

<style>
  .nav_menu_list{
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .nav_menu_list a{
    text-decoration: none;
  }
</style>