<div class="brand_main">
  {% for block in section.blocks %}
  <div class="header_nav_brand">
    {% for link in block.settings.header_menu.links %}
      <ul class="nav_menu_list">
        <a href="{{ link.links }}"><li>{{ link.title }}</li></a>
      </ul>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "brand_utm",
    "settings": [],
    "blocks": [{
      "type":"image_picker",
      "name":"Choose Brand",
      "settings": [{
        "type": "image_picker",
        "id":"brand_logo",
        "label":"Brand Logo"
      },
      {
        "type":"link_list",
        "id":"header_menu",
        "label":"Header Menu List"
      },
      {
        "type":"html",
        "id":"cart_icon",
        "label": "Cart"
      },
      {
        "type":"html",
        "id":"human_icon",
        "label":"Login/Register"
      },
      {
        "type":"html",
        "id":"track_icon",
        "label":"Track icon"
      }]
    }],
    "presets": [{"name":"brand_utm"}]
  }
{% endschema %}