<div class="main_personalize">
  <div class="content_personalize">
    <span class="button_personalize" onclick="">Personalize It</span>
  </div>
  <div class="container_personalize">
    <p class="personalize_container">PERSONALIZE YOUR NECKLACE</p>
    <input type="text" placeholder="Enter your text">
    <p class="choose_container">CHOOSE FONT</p>
    {% for block in section.blocks %}
      <span class="font_family_text" style="font-family:{{ block.settings.personalize_font_family }};">
        {{ block.settings.personalize_text }}<a>{{ block.settings.personalize_url }}</a>
      </span>
    {% endfor %}
    <p class="is_this_container">IS THIS A GIFT? ADD GIFT BOX AND A CUSTOM NOTE</p>
    <div class="yes_no">
      <p class="yes_yes_no">YES</p>
      <p class="no_yes_no">NO</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Personalize",
    "settings": [],
    "blocks": [
      {
        "name": "Choose",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "personalize_text",
            "label": "Text"
          }, {
            "type": "url",
            "id": "personalize_url",
            "label": "URL"
          }, {
            "type": "textarea",
            "id": "personalize_font_family",
            "label": "Font-Family"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Personalize"
      }
    ]
  }
{% endschema %}

<style>
  .main_personalize {
    width: 45%;
    margin: auto;
  }
  .content_personalize {
    width: 100%;
    color: #ffffff;
    background: #000000;
    font-size: 20px;
    padding: 20px 50px;
    text-align: center;
  }
  .container_personalize input[type="text"] {
    width: 80%;
    padding: 15px 10px;
  }
  .container_personalize .font_family_text {
    border: 1px solid black;
    padding: 10px;
    margin: 0 10px 10px 0;
    text-align: center;
  }
</style>