<div class="iplanet_text">
  
  <h1>Professional<span class="animation_css"> <span class="background_class"> learning </span></span> for professional <span class="dash_class"> educators.</span></h1>
</div>

<style>
  .iplanet_text{
    width:50%;
    margin:auto;
  }
  .animation_css{
    position:relative;
    background: #6BB7FF;
    border-radius: 40px;
  }
  .iplanet_text .background_class{
    /* background: #6BB7FF; */
    animation-name: background_color;
    animation-duration: 4s;
    /* padding: 0 15px; */
    /* position:absolute; */
  }
  @keyframes background_color{
    from{background:#ffffff;}
    to{background:#6BB7FF;}
    from{left:0px;}
    to{left:200px;}
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": [{
      "type":"html",
      "id":"html_schema",
      "label":"Content"
    }],
    "presets":[{"name":"iplanet_Text"}]
  }
{% endschema %}

