<div class="iplanet_text">
  <h1>Professional <span class="animation_css"><span class="background_class">learning</span></span> for professional <span class="dash_class"> educators.</span></h1>
</div>

<style>
  .iplanet_text:hover{
    background-position: left bottom;    
  }
  .animation_css{
    border: 1px solid black;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    display: block;
  
    background: linear-gradient(to right, #6BB7FF 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-out;
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": [{
      "type":"html",
      "id":"html_schema",
      "label":"Content"
    }],
    "presets":[{"name":"iplanet_Text"}]
  }
{% endschema %}

