<div class="iplanet_new_main">
  <div class="container_new">
  {% assign blocks = section.blocks %}
    {% for new_block in blocks %}
      {{ new_block.settings.essential_tools }}
    {% endfor %}
    <div class="parent_class">
      <div class="img_block_div">
        {% for heading_block in blocks %}
          {% if heading_block.settings.tab_image_new != blank %}
            <img class="img_apple" src="{{ heading_block.settings.tab_image_new | img_url:"400x" }}" >
          {% endif %}
        {% endfor %}
      </div>
      <div class="opac_text">
        {% for text_block in blocks %}
          {{ text_block.settings.text_con }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "iplanet CSS",
    "settings": [],
    "blocks":[{
      "type":"text",
      "name":"Heading",
      "settings":[{
        "type":"html",
        "id":"essential_tools",
        "label":"Heading"
      }]
    },
    {
      "type":"image",
      "name":"Image",
      "settings":[{
        "type":"image_picker",
        "id":"tab_image_new",
        "label":"Image"
      }]
    },
    {
      "type":"textarea",
      "name":"Text Content",
      "settings":[{
        "type":"html",
        "id":"text_con",
        "label":"Text Input content"
      }]
    }],
    "presets":[{"name":"iplanet CSS"}]
  }
{% endschema %}

<style>
  .container_new{
    margin: auto;
    width: 50%;
    text-align: center;
  }
  .parent_class{
    position:relative;
    height:800px;
  }
  .img_block_div, .img_apple{
    width:100%;
  }
  .input1_div h2{
    margin-bottom:0;
  }
  .input1_div .background_light_green{
    background: linear-gradient(to right, #86f18d 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: animate 0.7s 2s linear forwards;
    padding: 0 15px;
    border-radius: 20px;
  }
  @keyframes animate {
    from {
      background-position: right bottom;
    }
    to {
      background-position: left bottom;
    }
  }
  .input1_div .incredible_posibilities{
    font-size: 35px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
  }
  .content_div .background_pink{
    background: linear-gradient(to right, #FF8CBD 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: pink 0.7s 2s linear forwards;
    padding: 0 10px;
    border-radius: 20px;
  }
  @keyframes pink{
    from {
       background-position: right bottom;
    }
    to{
       background-position: left bottom;
    }
  }
  .content_div .dash_cyan{
    position:relative;
  }
  .content_div .dash-illustration{
    position: absolute;
    width: 0%;
    fill: cyan;
    left: 0;
    bottom: -19px;
    height: 35px;
    animation: dash1 0.7s 2s linear forwards;
  }

  @keyframes dash1{
    from{
      width:0%;
    }
    to{
      width:100%;
    }
  }
  .content_div .sub_heading{
    color:#1d1d1f;
    font-size: 50px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    margin:0;
    padding:0 90px;
  }
  .img_block_div{
    position:sticky;
    top:0;
    margin-bottom: 10%;
    z-index:2;
  }
  .content_text_1 p{
    color:#1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    margin:90px 0;
  }
  .content_text_1 .background_FFA950{
    background: linear-gradient(to right, #FFA950 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: orange 0.7s 2s linear forwards;
    padding: 0 10px;
    border-radius: 20px;
  }
  @keyframes orange{
    from{
      background-position: right bottom;      
    }
    to{
      background-position: left bottom;
    }
  }
  .content_text_2 p{
    color:#1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
  }
  .content_text_2 .background_FCF268{
    background: linear-gradient(to right, #FCF268 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: lime 0.7s 2s linear forwards;
    padding: 0 10px;
    border-radius: 20px;
  }
  @keyframes lime{
    from{
        background-position: right bottom;
    }
    to{
        background-position: left bottom;
    }
  }
  .content_text3 p{
    color:#1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
  }
  .content_text3 .background_6BB7FF{
    background: linear-gradient(to right, #6BB7FF 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: blue 0.7s 2s linear forwards;
    padding: 0 10px;
    border-radius: 20px;
  }
  @keyframes blue{
    from {
       background-position: right bottom;
    }
    to{
       background-position: left bottom;
    }
  }
  .opac_text{
    overflow-y: auto;
    height: 200px;
    /* position:absolute; */
  }
  .opac_text::-webkit-scrollbar{
    display:none;
  }
  .content_div, .content_div1, .content_div2{
    overflow-y:scroll;
  }
  .content_div::-webkit-scrollbar, .content_div1::-webkit-scrollbar, .content_div2::-webkit-scrollbar {
    display:none;
  }
@media screen and (max-width: 767px){
  .container_new{
    width:80%;
  }
  .content_div .sub_heading, .content_text_1 p, .content_text_2 p{
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
    padding:0;
  }
}
</style>

<script>
  var heading_text = document.querySelector(".input1_div");
  window.addEventListener("scroll", () => {
    var high = window.pageYOffset;
    heading_text.style.opacity = 1 - high/140; 
    // console.log(high);
  });

  var slide = document.querySelector(".opac_text");
  var text1 = slide.querySelector(".sub_heading");
  var text2 = slide.querySelector(".sub_text1");
  var text3 = slide.querySelector(".sub_text2");
  var text4 = slide.querySelector(".sub_text3");
  
  slide.addEventListener("scroll", () => {
    var scrollPosition = slide.scrollTop;
    console.log(scrollPosition);
    if (scrollPosition < 220) {
      text1.style.opacity = 1 - scrollPosition / 140;
      // text1.style.transform = matrix(1, 0, 0, 1, 0, 0);
    }
    if (scrollPosition >= 240 && scrollPosition < 350) {
      text2.style.opacity = 1 - (scrollPosition - 240) / 140;
    }
    if (scrollPosition >= 320 && scrollPosition < 390) {
      text3.style.opacity = 1 - (scrollPosition - 350) / 140;
    }
    if (scrollPosition >= 500) {
      text4.style.opacity = 1 - (scrollPosition - 480) / 160;
    }
  });
</script>