<div>
  <p>Professional<span>learning</span>for professional <span>educators.</span></p>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [{
      "type":"html",
      "id":"html_schema",
      "label":"Content"
    }],
    "presets":[{"name":"iplanet_Text"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}