<section class="page-width page-width--narrow section-template--{{ section.id }}__main-padding">
    <div class="formContainer">
      <form id="enquireForm">
            <div class="form_generater_form_div Container page-width">
                              <div class="formElement_1 form-group fadeMe text clearfix col-sm-12 name paymentCount" data-count="1">
                                    <label class="fitText block_label" style="display: block;">Name: *</label>
                                    <input class="form-control" required id="form_input_1" name="name: " type="text" placeholder="">
                                </div>
                              
                                <div class="formElement_2 form-group fadeMe text clearfix col-sm-12 email paymentCount" data-count="2">
                                    <label class="fitText block_label" style="display: block;">Official Email Id: *</label>
                                    <input class="form-control email_confirm" required id="form_input_2" name="Email: " type="email" placeholder="">
                                </div>
              
                                <div class="formElement_3 form-group fadeMe text clearfix col-sm-12 phone paymentCount" data-count="3">
                                    <label class="fitText block_label" style="display: block;">Mobile No: *</label>
                                    <div class="inputWrapper" style="position: relative;">
                                        <span>+91</span>
                                        <input class="form-control" required name="Contact Number:" type="tel" maxlength="10" placeholder="">
                                    </div>
                                </div>

                                <div class="formElement_3a form-group fadeMe text clearfix col-sm-12 companyName paymentCount" data-count="3a">
                                    <label class="fitText block_label" style="display: block;">Company Name: *</label>
                                    <input class="form-control" required id="form_input_3a" name="companyName: " type="text" placeholder="">
                                </div>

                                <div class="formElement_3b form-group fadeMe text clearfix col-sm-12 gstNumber paymentCount" data-count="3b">
                                    <label class="fitText block_label" style="display: block;">Company GST: *</label>
                                    <input class="form-control" required id="form_input_3b" name="gstNumber: " type="text" placeholder="">
                                </div>

                                <div class="formElement_3c form-group fadeMe text clearfix col-sm-12 designation paymentCount" data-count="3c">
                                    <label class="fitText block_label" style="display: block;">Designation: *</label>
                                      <select name="What's your designation in the company" class="form-control"  required>
                                        <option value=""> Please Select </option> 
                                        <option value="Owner/Partner"> Owner / Partner </option>
                                        <option value="Employee"> Employee </option>
                                        <option value="Other"> Other </option>
                                      </select>
                                </div>

                                <div class="formElement_3d form-group fadeMe text clearfix col-sm-12 countEmployee paymentCount" data-count="3d">
                                    <label class="fitText block_label" style="display: block;">No. Of Employees: *</label>
                                     <select name="No. Of Employees: " class="form-control"  required>
                                        <option value=""> Please Select </option> 
                                        <option value="1 to 10"> 1 to 10 </option> 
                                        <option value="11 to 50"> 11 to 50 </option>
                                        <option value="51 to 100 "> 51 to 100  </option>
                                        <option value="101 to 200 "> 101 to 200  </option>
                                        <option value="201 and Above "> 201 and Above </option>
                                      </select>
                                </div>

                                <div class="formElement_3e form-group fadeMe text clearfix col-sm-12 typeIndustry paymentCount" data-count="3e">
                                    <label class="fitText block_label" style="display: block;">Type of Industry: *</label>
                                      <select name="Type of Industry: " class="form-control"  required>
                                        <option value=""> Please Select </option> 
                                        <option value="IT"> IT </option>
                                        <option value="Retail"> Retail </option>
                                        <option value="Manufacturing"> Manufacturing </option>
                                        <option value="Design and Architecture"> Tiruppur </option>
                                        <option value="Construction and Real Estate"> Construction & Real Estate </option>
                                        <option value="Marketing and Consulting"> Marketing & Consulting </option>
                                        <option value="Logistics and Travel"> Logistics & Travel </option>
                                        <option value="Restaurant and Hospitality"> Restaurant & Hospitality </option>
                                        <option value="Healthcare"> Healthcare </option>
                                        <option value="Professionals"> Professionals </option>
                                        <option value="Others"> Others </option>
                                      </select>
                                </div>

                                <div class="formElement_3f form-group fadeMe text clearfix col-sm-12 city paymentCount" data-count="3f" id="form_input_10">
                                    <label class="fitText block_label" style="display: block;">City: *</label>
                                      <select name="City :" class="form-control"  required>
                                        <option value=""> Please Select </option> 
                                        <option value="Bangalore"> Bangalore </option>
                                        <option value="Chennai"> Chennai </option>
                                        <option value="Coimbatore"> Coimbatore </option>
                                        <option value="Salem"> Salem </option>
                                        <option value="Tiruppur"> Tiruppur </option>
                                      </select>
                                </div>

                                <div class="formElement_3f1 form-group fadeMe text clearfix col-sm-12  paymentCount selectedState state-class" data-count="3f1" id="form_input_11">
                                    <div class="row"><div class="col-sm-12 form-group for-floating-label">
                                        <label class="fitText block_label" style="display: block;">Choose Your Banglore Store: *</label>
                                        <select name="Choose Your Banglore Store:" class="form-control" required>
                                            <option value="" storecode=""> Please Select </option>
                                            <option value="Bangalore - Banashankari" storecode="BSK1">  Bangalore - Banashankari     </option>
                                            <option value="Bangalore - Forum South Bangalore" storecode="NSN1"> Bangalore -  Forum South Bangalore </option>
                                            <option value="Bangalore - Jayanagar" storecode="JNG1"> Bangalore - Jayanagar </option>
                                            <option value="Bangalore - Indiranagar" storecode="IND1"> Bangalore - Indiranagar </option>
                                            <option value="Bangalore - New BEL Road" storecode="BEL1"> Bangalore - Jayanagar </option>
                                            <option value="Bangalore - VR Bengaluru" storecode="VRM1"> Bangalore - JP Nagar </option>
                                        </select>
                                    </div></div>
                                </div>

                                  <div class="formElement_3f2 form-group fadeMe text clearfix col-sm-12  paymentCount state-class" data-count="3f2" id="form_input_12">
                                    <div class="row"><div class="col-sm-12 form-group for-floating-label">
                                        <label class="fitText block_label" style="display: block;">Choose Your Chennai Store:*</label>
                                        <select name="Choose Your Chennai Store:" class="form-control" required>
                                            <option value="" storecode=""> Please Select </option>
                                            <option value="Chennai - OMR" storecode="OMR1"> Chennai - OMR </option>
                                            <option value="Chennai - Pondy Bazaar" storecode="PBZ1"> Chennai - Pondy Bazaar </option>
                                        </select>
                                    </div></div>
                                  </div>

                                  <div class="formElement_3f3 form-group fadeMe text clearfix col-sm-12  paymentCount state-class" data-count="3f3" id="form_input_13">
                                    <div class="row"><div class="col-sm-12 form-group for-floating-label">
                                        <label class="fitText block_label" style="display: block;">Choose Your Coimbatore Store:*</label>
                                        <select name="Choose Your Coimbatore Store:" class="form-control" required>
                                            <option value="" storecode=""> Please Select </option>
                                            <option value="Coimbatore - Brookefields Mall" storecode="CBE4"> Coimbatore - Brookefields Mall </option>
                                            <option value="Coimbatore - R.S Puram" storecode="TVHU"> Coimbatore - R.S Puram </option>
                                        </select>
                                    </div></div>
                                  </div>

                                  <div class="formElement_3f4 form-group fadeMe text clearfix col-sm-12  paymentCount state-class" data-count="3f4" id="form_input_14">
                                    <div class="row"><div class="col-sm-12 form-group for-floating-label">
                                        <label class="fitText block_label" style="display: block;">Choose Your Salem Store:*</label>
                                        <select name="Choose Your Salem Store:" class="form-control" required>
                                            <option value="" storecode=""> Please Select </option>
                                            <option value=" Salem - Multiplex Road " storecode="SLM1"> Salem - Multiplex Road </option>
                                        </select>
                                    </div></div>
                                  </div>
              
                                  <div class="formElement_3f5 form-group fadeMe text clearfix col-sm-12  paymentCount state-class" data-count="3f5" id="form_input_15">
                                    <div class="row"><div class="col-sm-12 form-group for-floating-label">
                                        <label class="fitText block_label" style="display: block;">Choose Your Tiruppur Store:*</label>
                                        <select name="Choose Your Tiruppur Store:" class="form-control" required>
                                            <option value="" storecode=""> Please Select </option>
                                            <option value="Tiruppur - Avinashi Road" storecode="TRP1"> Tiruppur - Avinashi Road </option>
                                        </select>
                                    </div></div>
                                  </div>

                                <div class="formElement_3f6 form-group fadeMe text clearfix col-sm-12 city paymentCount" data-count="3f6" id="form_input_16">
                                    <label class="fitText block_label" style="display: block;">Preferred way of communication: *</label>
                                      <select name="Preferred way of communication: " class="form-control"  required>
                                        <option value=""> Please Select </option> 
                                        <option value="Email"> Email </option>
                                        <option value="Call"> Call </option>
                                        <option value="WhatsApp"> WhatsApp </option>
                                      </select>
                                </div>
              
                         <div class="form_submit_div text-center">
                            <input type="button" value="Submit" class="btn" onchange="Validate()" inquire-form>
                        </div>
                  </div>
        </form>
    </div>
<!-- <div class="thanku-msg-div Container page-width">
 <p class="thanku-message">Your enquiry has been recorded.</p> 
</div> -->
  
</section>
<style>
/ ****************** custome code by Sandhya CSS Start ****************** /
  .thanku-msg-div.Container.page-width {
    display: none;
    text-align: center;
}
    .form_generater_form_div.Container.page-width, .thanku-msg-div {
    background: transparent;
    max-width: 600px;
    border: solid;
    border-width: 2px;
    border-color: #c7c7c7;
    border-radius: 1px;
    padding: 35px;
}
    .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
}
    .btn{
    color: #fff !important;
    background: #333333 !important;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #333333;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    -webkit-transition: .25s ease-in-out;
    margin-bottom: 15px;
    cursor: pointer;
  }
    .col-sm-6.country-code {
    float: left;
    width: 45% !important;
}
    div#form_input_3 {
        display: flex;
    justify-content: space-between;
}
    select.form-control, input.form-control{
    outline: none;
    box-shadow: none;
    border-radius: none !important;
}
  .form-group {
    margin-top: 15px;
}
  .inputWrapper span{
    width: 50px;
    height: 34px;
    color: #000;
    padding: 3px 11px;
    background-color: #80808042;
    border:1px solid;
    border-right:none;
  }
  .inputWrapper {
    display: flex;
}
/ ****************** custome code by Sandhya CSS END ****************** /
</style>
                
{% schema %}
{
    "name": "Mac Small Business Form",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "title"
            }
        ],
            "presets": [
                {
                    "name": "Mac Small Business Form"
                }
            ]
}
{% endschema %}

<script>
$(document).ready(function() {
    // selected data show in dropdown
    const stateMap = {
        'Bangalore': '#form_input_11',
        'Chennai': '#form_input_12',
        'Coimbatore': '#form_input_13',
        'Salem': '#form_input_14',
        'Tiruppur': '#form_input_15'
    };
   $('.form-control.email_confirm').on('input', function() {
    var email = $(this).val();
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
      $('#alertMessage').text('Enter a valid mail Id');
    }
  });
      var numField = document.querySelector(".form-control[type='tel']");
      var emailField = document.querySelector(".form-control[type='email']");
      [numField, emailField].forEach((field) => {
        field.addEventListener('input',() => {
          var valueNum = numField.value;
          if (/[^0-9]/.test(valueNum)){
            numField.value = valueNum.replace(/[a-zA-Z]/g, '');
            }else if (!/^[6-9]\d*$/.test(valueNum)){
              numField.value = valueNum.substring(1);
            }
          })
        })
  
    function DropdownChange(dropdown, map, targetClass, selectionClass) {
        $(targetClass).hide();
        $(dropdown).on('change', function() {
            const selectedText = $(this).find('option:selected').text().trim();
            if (map[selectedText]) {
                $(map[selectedText]).show();
                $(targetClass).removeClass(selectionClass);
                $(map[selectedText]).addClass(selectionClass);
                $(targetClass).not(map[selectedText]).hide();
            } else {
                $(targetClass).hide();
            }
        });
    }

    DropdownChange('#form_input_10', stateMap, '.state-class', 'selectedState');
});

</script>