<div class="iplanet_text">
  <h1>Professional <span class="animation_css"><span class="background_class">learning</span></span> for professional <span class="text_underline"> educators.<svg aria-hidden="true" data-draw-path="" class="underline-illustration" viewBox="0 0 281 15" preserveAspectRatio="none"> <g> <clipPath id="underline-clip-path"> <path d="M276.313091,3.20249 L276.678231,3.20249 C279.065081,3.20249 281,5.171841 281,7.601159 C281,10.030478 279.065081,11.999829 276.678231,11.999829 L275.496591,11.999829 C275.285651,11.999829 275.078231,11.984447 274.875371,11.954724 L267.667841,11.654465 L255.545031,11.143322 C212.801301,9.383943 177.543081,8.400874 149.772861,8.194006 L145.379491,8.167386 L141.594211,8.153788 C140.309651,8.150531 139.002271,8.14855 137.672091,8.147844 L130.725421,8.155219 C99.3912711,8.23563 56.7515711,8.948524 2.81021112,10.294003 C2.74165112,10.301174 2.67239112,10.304342 2.60241112,10.304342 L2.31018112,10.304342 C1.03430112,10.304342 0,9.251634 0,7.953053 C0,7.88696 0,7.821503 0.00793112323,7.75679 L0.0164011232,7.830067 C-0.104068877,6.979746 0.449601123,6.192605 1.33238112,5.822722 C1.56982112,5.709173 1.82943112,5.63589 2.10275112,5.611118 L2.31579112,5.600829 L4.19304112,5.428365 L7.18219112,5.162675 C39.7376211,2.334936 83.2546211,0.664999 137.749211,0.149812 L144.692081,0.091069 C152.490231,0.033003 160.049911,0.002525 167.373901,0 L173.388481,0.004312 C215.593441,0.080248 249.713441,1.121736 276.313091,3.20249 Z" style="mix-blend-mode: darken;"></path> </clipPath> <path class="underline-path" pathLength="1" d="M6.57,8.17c107.81-3.26,287-.74,291.81-.74"></path> </g> </svg></span></h1>
</div> 

<style>
  .iplanet_text {
    width: 50%;
    margin: auto;
  }  
  .animation_css {
    border-radius: 40px;
    background: linear-gradient(to right, #6BB7FF 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: trans 0.7s 1s ease-out forwards;
  }
  .background_class{
    padding:0 15px;
  }  
  @keyframes trans {
    from {
      background-position: right bottom;
    }
    to {
      background-position: left bottom;
    }
  }
  .text_underline{
    position:relative;
  }
  svg.underline-illustration{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -30px;
    height: 60px;
    /* background: linear-gradient(to right, #96f4a1 50%, white 50%); */
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": [{
      "type":"html",
      "id":"html_schema",
      "label":"Content"
    }],
    "presets":[{"name":"iplanet_Text"}]
  }
{% endschema %}

