<div class="iplanet_new_main">
  <div class="content_new">
    {% for block in section.blocks %}
    <div class="input1_div">
      <h2>Essential tools.</h2>
      <span class="background_light_green"><span class="incredible_posibilities">Incredible possibilities.</span></span>
    </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "iplanet CSS",
    "settings": [],
    "blocks":[{
      "type":"image",
      "name":"apple",
      "settings":[{
        "type":"html",
        "id":"essential_tools",
        "label":"Input field 1"
      }]
    }],
    "presets":[{"name":"iplanet CSS"}]
  }
{% endschema %}

<style>
  .content_new{
    margin: auto;
    width: 50%;
    text-align: center;
  }
  .input1_div h2{
    margin-bottom:0;
  }
  .input1_div .incredible_posibilities{
    font-size: 35px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
  }
</style>

{% javascript %}
{% endjavascript %}