<div class="iplanet_text">
  Professional <span class="background_class"> learning </span> for professional <span class="dash_class"> educators.</span>
</div>

<style>
  .iplanet_text .background_class{
    background:#6BB7FF;
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": [{
      "type":"html",
      "id":"html_schema",
      "label":"Content"
    }],
    "presets":[{"name":"iplanet_Text"}]
  }
{% endschema %}

