<div class="iplanet_text">
  <h1>Professional <span class="animation_css"><span class="background_class">learning</span></span>for professional</h1>
</div> 

<style>
  .iplanet_text {
    width: 50%;
    margin: auto;
    text-align: center; /* Center the text horizontally */
  }
  
  .animation_css {
    border-radius: 3px;
    background: linear-gradient(to right, #6BB7FF 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: trans 2s 2s ease-out forwards; /* Combine animation properties */
  }
  
  @keyframes trans {
    from {
      background-position: right bottom;
    }
    to {
      background-position: left bottom;
    }
  }

</style>
{% schema %}
  {
    "name": "Section name",
    "settings": [{
      "type":"html",
      "id":"html_schema",
      "label":"Content"
    }],
    "presets":[{"name":"iplanet_Text"}]
  }
{% endschema %}

