<div class="iplanet_new_main">
  <div class="container_new">
    {% for block in section.blocks %}
      {{ block.settings.essential_tools }}
      <div class="img_block_div">
        <img class="img_apple" src="{{ block.settings.tab_image | img_url:"400x" }}" >
      </div>

    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "iplanet CSS",
    "settings": [],
    "blocks":[{
      "type":"text",
      "name":"Heading",
      "settings":[{
        "type":"html",
        "id":"essential_tools",
        "label":"Heading"
      },
      {
        "type":"html",
        "id":"svg_img",
        "label":"Svg Code"
      }
      ]
    },
    {
      "type":"image",
      "name":"Image",
      "settings":[{
        "type":"image_picker",
        "id":"tab_image",
        "label":"Image"
      }]
    },
    {
      "type":"textarea",
      "name":"Text Content",
      "settings":[{
        "type":"html",
        "id":"text_con",
        "label":"Text Input content"
      }]
    }],
    "presets":[{"name":"iplanet CSS"}]
  }
{% endschema %}

<style>
  .container_new{
    margin: auto;
    width: 50%;
    text-align: center;
  }
  .input1_div h2{
    margin-bottom:0;
  }
  .input1_div .background_light_green{
    background: linear-gradient(to right, #86f18d 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: animate 0.7s 2s linear forwards;
    padding: 0 15px;
    border-radius: 20px;
  }
  @keyframes animate {
    from {
      background-position: right bottom;
    }
    to {
      background-position: left bottom;
    }
  }
  .input1_div .incredible_posibilities{
    font-size: 35px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
  }
  .content_div .background_pink{
    background: linear-gradient(to right, #FF8CBD 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: pink 0.7s 2s linear forwards;
    padding: 0 5px;
    border-radius: 20px;
  }
  @keyframes pink{
    from {
       background-position: right bottom;
    }
    to{
       background-position: left bottom;
    }
  }
  .content_div .dash_cyan{
    position:relative;
  }
  .content_div .dash-illustration{
    position: absolute;
    width: 0%;
    fill: cyan;
    left: 0;
    bottom: -19px;
    height: 35px;
    animation: dash1 0.7s 2s linear forwards;
  }

  @keyframes dash1{
    from{
      width:0%;
    }
    to{
      width:100%;
    }
  }
  .content_div .sub_heading{
    color:#1d1d1f;
    font-size: 40px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
  }
</style>

<script>
  window.addEventListener("scroll",() => {
    var txt1 = document.querySelctor(".input1_div");
    let scrollTop = window.pageYOffset;
    alert(window.pageYOffset);
    // alert("text",scrollTop);
  });
</script>