<div class="iplanet_text">
  <p>Professional <span> learning </span> for professional <span> educators.</span></p>
</div>
<style>
  .iplanet_text{
    
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": [{
      "type":"html",
      "id":"html_schema",
      "label":"Content"
    }],
    "presets":[{"name":"iplanet_Text"}]
  }
{% endschema %}

