<div>
  {% render "pincode_igp" %}
  
</div>
{% schema %}
  {
    "name": "Pincode",
    "settings": [{
      "type":"textarea",
      "id":"igp_txt",
      "label":"Store Pincode"
    }],
    "presets":[{"name":"Pincode"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
  var val_pincode = '{{ section.settings.igp_txt }}'
  com
</script>