<div class="button-container">
   <div id="color-div">
      <button id="color-btn1" color='red' onclick="myfunction(this)">Red</button>
      <button id="color-btn2" color='green' onclick="myfunction(this)">Green</button>
      <button id="color-btn3" color='blue' onclick="myfunction(this)">Blue</button>
      <button id="color-btn4" color='gray' onclick="myfunction(this)">Gray</button>
      <button id="color-btn5" color='yellow' onclick="myfunction(this)">Yellow</button>
   </div>
</div>

{% schema %}
  {
    "name": "five-button",
    "settings": [],
    "presets":[
      {
        "name":"five-button"
      }
    ]
  }
{% endschema %}

<style>
   .button-container{
     width:100%;
     height:300px;
     display:flex;
   }

   #color-div{
     width:43%;
     height:auto;
     margin:auto;
   }
 
  button#color-btn1, button#color-btn2, button#color-btn3, button#color-btn4, button#color-btn5{ 
    padding: 15px 25px;
  }
</style>

<script>
  // var btn = document.querySelectorAll('#color-div button');
  // btn.forEach(item => {
  //   item.addEventListener('click',() => {
  //     // var button_num = item.getAttribute('id');
  //     var button_style = item.getAttribute("color");
  //     document.querySelector('.button-container').style.backgroundColor = button_style;
  //   });
  // });
  
  function myfunction(this){
      var con = this.getAttribute('id');
      console.log(con);
  }
</script>
