<div class="main_3_scientific">
  <div class="conetnt_scientific">
    <div class="heading_traya_scientific">
      <h3>{{ section.settings.heading_scientific }}</h3>
    </div>
    <div class="passage_traya_scientific">
      <p>{{ section.settings.passage_scientific }}</p>
    </div>
    {% for block in section.settings.blocks %}
      <div class="btn_traya_scientific">
        <span>{{ block.settings.collection_name }}</span>
        <p>{{ block.settings.Collection_heading }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Traya_scientific",
  "settings": [{
    "type":"text",
    "id":"heading_scientific",
    "label":"Heading"
  },
  {
    "type":"textarea",
    "id":"passage_scientific",
    "label":"Content"
  }],
  "blocks":[{
    "name":"Collection Button",
    "type":"text",
    "settings":[{
      "type":"image_picker",
      "id":"collection_name",
      "label":"Name"
    },
    {
      "type":"text",
      "id":"Collection_heading",
      "label":"Collection Heading"
    }]
  }],
  "presets":[{"name":"Traya_scientific"}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
