<div class="main_3_scientific">
  <div class="conetnt_scientific">
    <h3>{{ section.settings.heading_scientific }}</h3>
  </div>
  <div>
    <p>{{ section.settings.passage_scientific }}</p>
  </div>
  <div>
    {% for block in section.settings.blocks %}
      <span>{{ block.settings.collection_name }}</span>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Traya_scientific",
  "settings": [{
    "type":"text",
    "id":"heading_scientific",
    "label":"Heading"
  },
  {
    "type":"textarea",
    "id":"passage_scientific",
    "label":"Content"
  }],
  "blocks":[{
    "name":"Collection",
    "type":"text",
    "settings":[{
      "type":"image_picker",
      "id":"collection_name",
      "label":"Name"
    }]
  }],
  "presets":[{"name":"Traya_scientific"}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
