<div class="main_3_scientific">
  <div class="conetnt_scientific">
    {% assign svg = block.settings.collection_name %}
    <div class="heading_traya_scientific">
      <h3>{{ section.settings.heading_scientific }}</h3>
    </div>
    <div class="passage_traya_scientific">
      <p>{{ section.settings.passage_scientific }}</p>
    </div>
    <div class="btn_traya_scientific">
      {% for block in section.blocks %}
        <div class="btn_collection">
          <span>{{ block.settings.collection_name }}</span>
          <p>{{ block.settings.Collection_heading }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Traya_scientific",
  "settings": [{
    "type":"text",
    "id":"heading_scientific",
    "label":"Heading"
  },
  {
    "type":"textarea",
    "id":"passage_scientific",
    "label":"Content"
  }],
  "blocks":[{
    "name":"Collection Button",
    "type":"text",
    "settings":[{
      "type":"html",
      "id":"collection_name",
      "label":"Name"
    },
    {
      "type":"text",
      "id":"Collection_heading",
      "label":"Collection Heading"
    }]
  }],
  "presets":[{"name":"Traya_scientific"}]
}
{% endschema %}

<style>
  .main_3_scientific{
    width:100%;
    margin:40px 0;
  }
  .conetnt_scientific{
    width:50%;
    margin:auto;
  }
  .heading_traya_scientific{
    text-align:center;
  }
  .heading_traya_scientific h3{
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;

  }
  .passage_traya_scientific p{
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #989898;
    padding:0 60px;
  }
  .btn_traya_scientific{
    display:flex;
    justify-content:space-evenly;
  }
  .btn_collection{
    display: flex;
    flex-direction: column;
    background:#EEEEEE;
    padding:10px 30px;
    border-radius:8px;
  }
  .btn_collection span,.btn_collection p{
    text-align:center;
    color:#BE6C5D;
    margin:0;
  }
  .clr_svg svg path{ 
    /* background:#BE6C5D; */
    fill:#EEEEEE;
    stroke:#EEEEEE;
  }
</style>

<script>
  var color_btn = document.querySelectorAll(".btn_collection span");
  color_btn.forEach((item) => {
    item.addEventListener("click", () => {
     item.classList.add("clr_svg");
      color_btn.forEach((btn) => {
        btn.classList.remove("clr_svg");
        item.classList.add("clr_svg");
      });
    });
  });
</script>
