<div class="main_traya_slider">
  <div class="content_traya_slider">
    
  </div>
</div>
{% schema %}
  {
    "name": "Traya Slider",
    "settings": [],
    "blocks":[{
      "name":"PICK",
      "type":"Text",
      "settings":[{
        "type":"image_picker",
        "id":"main_img1",
        "label":"Main Image"
      },
      {
        "type":"text",
        "id":"Heading_text",
        "label":"Heading"
      },
      {
        "type":"text",
        "id":"list_item_text",
        "label":"Advantages"
      },
      {
        "type":"image_picker",
        "id":"Ingredients_image",
        "label":"Ingredients Image"
      },
      {
        "type":"text",
        "id":"Ingredients_text",
        "label":"Ingredients Text"
      }]
    }],
    "presets":[{"name":"Traya Slider"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}